body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url(https://images.pexels.com/photos/1056551/pexels-photo-1056551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


ul li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;   
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

#deleteAll{
    position: absolute;
    right: 5px;
    top: 10px;
}
.opa{
    opacity: 0.7;
    filter: alpha(opacity=70);
}